*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Lato, Helvetica, sans-serif;
}
.position0{
    display: flex;
    align-items: center;
    margin-left: 5%;
    
}
.list{
    margin-right: 5%;
    color: #cfcfcf;
    background-color: gray;
    padding: 5%;
    border-radius: 25px;
}
.logop{
    border-radius: 25%;
    
}
.displ{
    display: flex;
    align-content: center;
}
.logoh{
    background-color: green;
    width: 100%;
    
}
.nav-toggler {
    position: fixed;
    z-index: 10;
    top: 30px;
    right: 30px;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.line {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background: #f1f1f1;
    transition: transform 0.3s ease-out;
    opacity: 0.1s ease-out;
}
.l1 {
    transform: translateY(-10px)
}
.l3 {
    transform: translateY(10px)
}
.nav-toggler.active .l1 {
    transform: translateY(0px) rotate(135deg);
}
.nav-toggler.active .l2 {
    opacity: 0;
}
.nav-toggler.active .l3 {
    transform: translateY(0px) rotate(-135deg);
}

nav {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #111;
    border-left: 1px solid #cfcfcf;
    transform: translateX(100%);
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
    z-index: 5;
}
nav.active {
    transform: translate(0);
}
nav a {
    font-family: Quicksand, sans-serif;
    color: #f1f1f1;
    font-size: 20px;
    display: block;
    margin: 10px 0;
    text-decoration: none;
}


footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.footercoul{
    background-color: green;
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.footerlist{
    display: flex;
    justify-content: center;
    align-items: center;
}
.liststylefoot{
    margin-right: 10px;
}








/**************************************A PROPOS********************************************/



.texte{
    position: relative;
}
.positiontexte{
    position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-weight: bold;

  max-width: 100%;
  max-height: 50%;

  
  color: #f8f8f8;
  


    font-family: 'Commissioner', sans-serif;
  font-size: 25px;
  padding: 150px 60px 250px ;
  margin-top: 180px;
  line-height: 1;
  text-transform: uppercase;

}


/**************************CONTACT***************/


.contacteee{
    display: flex;
    justify-content: center;
}
.imagecont{
    margin-top: 15%;
    border-radius: 25px;
    border: #07700c solid;
    margin-right: 20px;
}




/****************CONTACT**************/



.ceo{
    display: flex;
    justify-content: center;
    margin-top: 12%;

}
.imgcontact{
    margin-right: 20px;
    border-radius: 25px;
}
p{
    text-align: center;
    max-width: 170px;
}
h2{
    text-align: center;
    color: #07700c;
}